@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
}

[data-aether-id]:hover {
  outline: 2px dashed hsl(var(--primary) / 0.5);
  cursor: pointer;
}

[data-aether-id-selected="true"] {
  outline: 2px solid hsl(var(--primary));
  box-shadow: 0 0 10px hsl(var(--primary) / 0.7);
}


@layer base {
  :root {
    --background: 276 58% 95%;
    --foreground: 248 39% 20%;
    --card: 276 58% 98%;
    --card-foreground: 248 39% 20%;
    --popover: 276 58% 98%;
    --popover-foreground: 248 39% 20%;
    --primary: 283 100% 41%;
    --primary-foreground: 283 100% 98%;
    --secondary: 276 50% 90%;
    --secondary-foreground: 283 100% 31%;
    --muted: 276 50% 90%;
    --muted-foreground: 248 30% 50%;
    --accent: 248 39% 39%;
    --accent-foreground: 248 39% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 30% 85%;
    --input: 276 30% 90%;
    --ring: 283 100% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 283 100% 70%;
    --primary-foreground: 283 100% 10%;
    --secondary: 240 4% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 10%;
    --muted-foreground: 0 0% 63%;
    --accent: 248 39% 60%;
    --accent-foreground: 248 39% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 283 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
